

#new-post-container{
    top: 10px;
    position: relative;
    width: 50vw;
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}
#new-post-container div{
    display: inline-block;
}

#add-post{
    position: absolute;
    top:40%;
    left:60%;
    font-size: 1.5rem;
    color: darkslateblue;
    cursor: pointer;
}
#add-post button{
    background-color: white;
}
#add-post .fa-plus:hover{
    top:35%;
    font-size: 2rem;
    color: orange;
}

#available-posts{
    width: 50%;
    margin-left: 25px;
}

aside{
    position: absolute;
    top:100px;
    left:70%;
}

body a:hover{
    color: black;
}

.icons{
    border: 0px;
    background-color:white
}

#aside-container{
    border:0px;
}

#profile-pic{
    height:100px;
    width: 100px;
    border: 2px solid black;
    border-radius:50%;
    margin-bottom: 5%;
}
#profile-pic img{
    position: absolute;
    top:0%;
    left:-1%;
    height:100px;
    width:100px;
    border-radius:50%;
    
}